
@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<h3>Artist Performing</h3>
<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime - @gig.Artist.Name</li>
    }
</ul>